body {
    background:#F3F2EE;

}

/* HEADER */


.container {
    min-width: 769px;
    margin: 0 auto;
    padding: 0;
    flex-direction: column;
    justify-content: space-evenly;
    background: #F3F2EE;
}

.nav {
    background:transparent;
    width: 100%;
    height: 8vw;
    align-content: center;
    padding: 1vw;
}

.nav-leftItems {
    width: 40%;
}

#logo {
    width: 4.5vw;
    height: 4.5vw;
    margin-left: 0.5vw;
    margin-right: 0.5vw;
}

.loupeBox {
    width: 4.5vw;
    height: 4.5vw;
    align-items: center;
    justify-content: center;
    background: #EEF3F7;
}

#loupe {
    width: 50%;
    height: 50%;
}
.search {
    height: 4.5vw;
    width: 231px;
    border: none;
    background: #EEF3F7;
    font-size: 0.7em;
}

.search:focus {
    outline: none;
}

.nav-rightItems {
    height: 2vw;
    width: 60%;
}

.navUL {
    text-decoration: none;
    list-style: none;      
    width: 100%;
    justify-content: space-between;
}

.navUL li {
    width: 4.5vw;
    height: 4.5vw;
}

.navButtons  {
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    filter: opacity(70%);
}

.navButtons:hover  {
    filter: opacity(100%);
}


.navButtons img {
    width: 3vw;
}

.navButtons a {
    text-decoration: none;
    color: black;
    white-space: nowrap;
    font-size: 1vw;
}

.buttonElements {
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
/* HEADER */

/* CONTENTS */

.containerMid {
    margin: 0 auto;
    padding-top: 2vw;
    padding-bottom: 2vw;
    width: 93.5%;
}

.profile {
    min-width: 100%;
    flex-direction: column;
    background: #ffffff;
}

.banner{
    background-image: url("img/banner.jpg");
    width: 100%;
    height: 18vw;
}

.profilePic {
    width: 15vw;
    position: absolute;
    transform: translate(20%, 45%);
}

.description {
    background: #ffffff;
    padding: 0 2vw 0 2vw;
    height: 24vw;
}

.description p {
    padding: 0;
    margin: 0;
}

.description h3 {
    padding-top: 5vw;
}

.profileButtons {
    padding-top: 1vw;
    padding-bottom: 1vw;
}

.buttons {
    background:#ffffff;
    color:#666666;
    border-color: #acacac;   
    border-style: groove;
}

.buttons:hover{
    background:#ffffff;
    color:#666666;
    border-color: #000000;   
}


#interestButton {
    background: #0B65C2;
    color:#ffffff;
    border: none;
}

#interestButton:hover {
    background: #004182;
    color:#ffffff;
    border: none;
}

/* CONTENTS */
/* EXPERIENCE */

.containerBottom {
    background: #ffffff;
    width: 93.5%;
margin: 0 auto;
}


.infos {
    padding: 1vw;
    flex-direction: column;
}


.company {
    justify-content: space-between;
    min-height: 10vw;

}

.companyLogo {
    width: 5vw;
    height: 5vw;
}

.jobDescription {
    width: 90%;
}



.jobTime {
    margin: 0;
    padding: 0;
    font-size: 1em;
    padding: 1vw;
}

.jobDesc {
    margin: 0;
    padding: 0;
    font-size: 1em;
}

#expTitle {
    padding: 3vw 0 3vw 0;
}

/* EXPERIENCE */